/* css credit goes to Masanori Kawachi */

body { margin: 0px; padding: 0px; background: url(../images/body_bg.gif) left top repeat-y #fff; }
p { 
   font-size: 12px; !important;font-size: 70%; line-height: 133%; 
   font-family: Arial, Helvetica, sans-serif; color: #666; }
   
li { 
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif; color: #666; }

h1,h2,h3 { margin: 0px; padding: 0px; }
a { color: #336633; }
acronym { background-color: #FFF7D2; }

#extraDiv1 { position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; height: 51px; background: url(../images/header_bg.gif) left top repeat-x; }
#pageHeader h1 { position: absolute; left: 0px; top: 0px; z-index: 2; width: 237px; height: 176px; margin: 0px; padding: 0px; background: url(../images/logo.png) left top no-repeat; }
#pageHeader h1 span,#pageHeader h2 { position: absolute; left: -9999px; }

#container { background: url(../images/rightside_top.gif) 0px 0px no-repeat; width: 510px; margin: 51px 0px 0px 237px; padding-top: 24px; }

#introPicture { margin-left: 20px; padding-left: 30px; height: 160px; width: 425px !important;width /**/:455px; background: url(../images/megumi.jpg) right top no-repeat; }
#introPicture p { font-size: 14px; margin: 0px 0px 0px 0px; padding: 0px; }

#picCredit { margin-left: 0px; padding-left: 30px; width: 425px !important;width /**/:455px; }
#picCredit p { font-size: 9px; margin: 0px 0px 0px 250px ; padding: 3px; }

#quickContact { margin-left: 34px; padding-left: 30px;  width: 425px !important;width /**/:455px; background: url(../images/arrow.gif) left top no-repeat; }
#quickContact p { font-size: 12px; margin: 0px 0px 3px 0px; padding: 0px; }


#supportingText { margin: 25px 0px 0px 30px; width: 458px; }

.thing { margin-bottom: 20px; }
.thing h3, h4 { 
	font: italic normal 12pt georgia; 
	letter-spacing: 1px; 
	margin-bottom: 0px; 
	color: #7D775C;
	}
.thing p { font-size: 12px; margin: 5px 0px 5px 20px; padding: 0px; }


#footer { margin: 0px 0px 20px 20px; font-size: 10px; !important;font-size: 70%; font-family: Arial, Helvetica, sans-serif;  }

#linkList { position: absolute; left: 13px; top: 176px; width: 212px; background: url(../images/leftside_bg.gif) left top repeat-x; }

#lselect { width: 212px; background: url(../images/list_bg.gif) left top repeat-y; }
#lselect h3 { background: url(../images/teaching_tit.png) left top no-repeat; width: 212px; height: 0px !important;height /**/:35px; padding-top: 35px; display: block; overflow: hidden; }
#lselect ul { margin: 0px; padding: 0px 0px 0px 4px; list-style-type: none; font-size: 10px; !important;font-size: 70%; font-family: Arial, Helvetica, sans-serif; }
#lselect li { padding: 13px 5px 13px 5px; margin: 0px; width: 196px !important;width /**/:206px; text-align: center; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; border-top-color: #e9e9e9; border-bottom-color: #FFFFFF; display: block; }
#lselect li:hover { background-color: #fff; }


#lresources { width: 212px; background: url(../images/list_bg.gif) left top repeat-y; display: block; }
#lresources h3 { background: url(../images/grad_tit.png) left top no-repeat; width: 212px; height: 0px !important;height /**/:26px; padding-top: 26px; display: block; overflow: hidden; }
#lresources ul { margin: 0px; padding: 0px 0px 0px 4px; list-style-type: none; font-size: 10px; !important;font-size: 70%; font-family: Arial, Helvetica, sans-serif; }
#lresources li { padding: 13px 5px 13px 5px; margin: 0px; width: 196px !important;width /**/:206px; text-align: center; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; border-top-color: #e9e9e9; border-bottom-color: #FFFFFF; display: block; }
#lresources li:hover { background-color: #fff; }


#larchives { width: 212px; background: url(../images/list_bg.gif) left top repeat-y; display: block; }
#larchives h3 { background: url(../images/research_tit.png) left top no-repeat; width: 212px; height: 0px !important;height /**/:26px; padding-top: 26px; display: block; overflow: hidden; }
#larchives ul { margin: 0px; padding: 0px 0px 0px 4px; list-style-type: none; font-size: 10px; !important;font-size: 70%; font-family: Arial, Helvetica, sans-serif; }
#larchives li { padding: 13px 5px 13px 5px; margin: 0px; width: 196px !important;width /**/:206px; text-align: center; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; border-top-color: #e9e9e9; border-bottom-color: #FFFFFF; display: block; }
#larchives li:hover { background-color: #fff; }
